
body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.img{
    display: flex;
    width: 40%;
    height: 60%;
    margin: 1% 1% 1% 1%;
    background: url(./Assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat 
    center;
    background-size: cover;
    align-content: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
} 
.img-description{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 100%;
    color: white;
    font-weight: 900;
} 

a{
    color: inherit;
    text-decoration: inherit;
}